{% load static %}

<div class="banner-slider">
  <div class="swiper bannerSwiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide banner-slide banner-slide--main">
        <div class="slide-content">
          <img
            src="{% static 'spa_app/img/svg/baner-logo.svg' %}"
            alt="svg decor"
            class="svg-decor"
          />
          <div class="svg-text-content">
            <p class="baner-text">Lotus Bloom</p>
            <p class="baner-name">SPA-салон</p>
          </div>
          <div class="btn-span">
            <a class="custom-btn custom-btn-page custom-baner-btn" href="#booking-form">
              Записаться
            </a>
          </div>
        </div>
      </div>

      <div class="swiper-slide banner-slide banner-slide--secondary">
        <div class="slide-content">
          <img
            src="{% static 'spa_app/img/svg/baner-logo.svg' %}"
            alt="svg decor"
            class="svg-decor"
          />
          <div class="svg-text-content">
            <p class="baner-text">Lotus Bloom</p>
            <p class="baner-name">SPA-салон</p>
          </div>
          <div class="btn-span">
            <a class="custom-btn custom-btn-page custom-baner-btn" href="#booking-form">
              Записаться
            </a>
          </div>
        </div>
      </div>

      <div class="swiper-slide banner-slide banner-slide--third">
        <div class="slide-content">
          <img
            src="{% static 'spa_app/img/svg/baner-logo.svg' %}"
            alt="svg decor"
            class="svg-decor"
          />
          <div class="svg-text-content">
            <p class="baner-text">Lotus Bloom</p>
            <p class="baner-name">SPA-салон</p>
          </div>
          <div class="btn-span">
            <a class="custom-btn custom-btn-page custom-baner-btn" href="#booking-form">
              Записаться
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="swiper-pagination"></div>
  </div>
</div>
