{% extends "spa_app/pages/layout.html" %} 
{% load static %} 
{% block title %}
Главная - Lotus Bloom 
{% endblock %} 
{% block content %} 
{% include 'spa_app/banner_slider.html' %}

<section class="home-services py-5">
  <div class="container text-center">
    <h2 class="title mb-4">
      Ваша элегантность начинается с гармонии тела и души
    </h2>
    <p class="service-description mb-5">
      Гармония тела и духа начинается с заботы о себе. Погрузитесь в атмосферу
      релакса, где каждый элемент создан для вашего удовольствия.
    </p>

    <div class="row g-4 justify-content-center">
      {% for category in categories %}
      <div class="col-6 col-lg-4">
        <div
          class="service-card text-white position-relative overflow-hidden"
          style="background-image: url('{% if category.image %}{{ category.image.url }}{% else %}{% static 'spa_app/img/default_category.png' %}{% endif %}');"
        >
          <div class="card-gradient-overlay"></div>

          <div class="card-img-overlay d-flex align-items-end p-0">
            <div class="service-card-footer w-100 px-3 py-3">
              <div class="d-flex align-items-center justify-content-between">
                <img
                  src="{% static 'spa_app/img/icon-card.png' %}"
                  alt="icon-card"
                  width="24"
                />

                <a class="category-link" href="{% url 'services' %}">
                  {{ category.name }}
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>

<section class="info">
  <div class="container info-list">
    <div class="info-item">
      <img
        src="{% static 'spa_app/img/svg/info_icon_1.svg' %}"
        class="info-icon mb-2"
        alt=""
      />
      <div>Профессиональный уход</div>
    </div>
    <div class="info-item">
      <img
        src="{% static 'spa_app/img/svg/info_icon_2.svg' %}"
        class="info-icon mb-2"
        alt=""
      />
      <div>Забота о каждой детали</div>
    </div>
    <div class="info-item">
      <img
        src="{% static 'spa_app/img/svg/info_icon_3.svg' %}"
        class="info-icon mb-2"
        alt=""
      />
      <div>Квалифицированный персонал</div>
    </div>
  </div>
</section>

<section class="specialists-section">
  <div class="container">
    <h2 class="title mb-5">Наши специалисты</h2>

    <div class="row justify-content-center">
      {% for specialist in specialists|slice:":3" %}
      <div class="col-md-4 specialist-card mb-4">
        {% if specialist.photo %}
        <img
          src="{{ specialist.photo.url }}"
          alt="{{ specialist.user.first_name }}"
        />
        {% else %}
        <img src="{% static 'spa_app/img/default.png' %}" alt="Специалист" />
        {% endif %}

        <div class="specialist-name">
          {{ specialist.user.first_name }} {{ specialist.user.last_name }}
        </div>

        <div class="specialist-specialty">{{ specialist.position }}</div>
      </div>
      {% endfor %}
    </div>

    <div class="mt-4">
      <a class="custom-btn custom-btn-page" href="{% url 'about' %}">
        Посмотреть всех
      </a>
    </div>
  </div>
</section>

<section class="reviews-section py-5 bg-gradient-half mb-5">
  <div class="container">
    <h2 class="mb-5 text-center title">Отзывы</h2>

    <div class="row gy-4 justify-content-center">
      {% for review in reviews|slice:":3" %}
      <div class="col-md-4">
        <div
          class="review-card d-flex flex-column justify-content-between p-4 h-100"
        >
          <div>
            <div class="fw-bold mb-2">
              {{ review.client.user.first_name }} {{ review.client.user.last_name }}
            </div>

            <div class="mb-3 fst-italic">{{ review.text }}</div>
          </div>

          <div class="stars">
            {% for i in review.stars_filled %}
            <span class="text-warning">★</span>
            {% endfor %} {% for i in review.stars_empty %}
            <span class="text-muted">☆</span>
            {% endfor %}
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>

{% include 'spa_app/form-page.html' %} 
{% endblock %}
